html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #fff url('http://www.slate.com/content/dam/slate/articles/health_and_science/science/2012/07/120712_SCI_NIGHTSKY.jpg.CROP.rectangle3-large.jpg') no-repeat;
  background-size: cover;
  font-family: sans-serif;
  border: 10px solid #fff;
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

/*
.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}


header{
  background-color: gold;
  border: 5px solid #000;
  margin: 0;
  padding: 0 0 0 .5em;
  font-style: italic;
  font-size: 1em;
}
main {
  display: grid;
  grid-template-areas:
    'header header header'
    'ship1 text1 text1'
    'blank ship2 text2'
    'text3 text3 ship3';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .3em;
  padding: .8em;
}
h2 {
  color: #fff;
  padding: .5em;
  grid-area: header;
}
img {
  padding: .3em;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
  list-style-type: none;
  cursor: pointer;
}

#ship1 {
  grid-area: ship1;
}
#ship1 img {
  transform: rotate(170deg);
  width: 100%;
}
#ship2 {
  grid-area: ship2;
}
#ship2 img {
  transform: rotate(135deg);
  width: 80%;
  opacity: .85;
}
#ship3 {
  grid-area: ship3;
}
#ship3 img {
  transform: rotate(100deg);
  width: 60%;
  opacity: .7;
}

summary {
  margin: 0;
}

details > p {
  position: relative;
  background: #fff;
  border: 3px solid #222;
  border-radius: .8em;
  box-shadow: 3px 3px 5px rgba(255,255,255,.5);
  color: #222;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: .8em;
  margin: 0;
}

#text1 {
  top: -150px;
  left: 150px;
}

#text2 {
  top: -100px;
  left: -100px;
}

#text3 {
  top: -90px;
  left: -120px;
}

footer {
  background-color: goldenrod;
  border-top: 5px solid red;
  margin: 0;
  padding: 0 .8em .2em .5em;
  margin-top: 1em;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
